/*--------------------------------------------------------------------------
*
*	advanced_relationship
*
*-------------------------------------------------------------------------*/
.acf-advanced_relationship {
    background: #fff;
    /* filters (top) */
    /* list */
    /* selection (bottom) */
}
.acf-advanced_relationship .filters {
    border: #DFDFDF solid 1px;
    background: #fff;
    /* widths */
}
.acf-advanced_relationship .filters:after {
    clear: both;
    content: "";
    display: table;
}
.acf-advanced_relationship .filters .filter {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    /* inner padding */
}
.acf-advanced_relationship .filters .filter span {
    display: block;
    padding: 7px 7px 7px 0;
}
.acf-advanced_relationship .filters .filter:first-child span {
    padding-left: 7px;
}
.acf-advanced_relationship .filters .filter input,
.acf-advanced_relationship .filters .filter select {
    height: 28px;
    line-height: 28px;
    padding: 2px;
    width: 100%;
    margin: 0;
    float: none;
    /* potential fix for media popup? */
}
.acf-advanced_relationship .filters .filter input:focus,
.acf-advanced_relationship .filters .filter select:focus,
.acf-advanced_relationship .filters .filter input:active,
.acf-advanced_relationship .filters .filter select:active {
    outline: none;
    box-shadow: none;
}
.acf-advanced_relationship .filters .filter input {
    border-color: transparent;
    box-shadow: none;
}
.acf-advanced_relationship .filters.-f2 .filter {
    width: 50%;
}
.acf-advanced_relationship .filters.-f3 .filter {
    width: 25%;
}
.acf-advanced_relationship .filters.-f3 .filter.-search {
    width: 50%;
}
.acf-advanced_relationship .list {
    margin: 0;
    padding: 5px;
    height: 160px;
    overflow: auto;
}
.acf-advanced_relationship .list .acf-rel-label,
.acf-advanced_relationship .list .acf-rel-item,
.acf-advanced_relationship .list p {
    padding: 5px 7px;
    margin: 0;
    display: block;
    position: relative;
    min-height: 18px;
}
.acf-advanced_relationship .list .acf-rel-label {
    font-weight: bold;
}
.acf-advanced_relationship .list .acf-rel-item {
    cursor: pointer;
    /* hover */
    /* disabled */
}
.acf-advanced_relationship .list .acf-rel-item b {
    text-decoration: underline;
    font-weight: normal;
}
.acf-advanced_relationship .list .acf-rel-item .thumbnail {
    background: #e0e0e0;
    width: 22px;
    height: 22px;
    float: left;
    margin: -2px 5px 0 0;
}
.acf-advanced_relationship .list .acf-rel-item .thumbnail img {
    max-width: 22px;
    max-height: 22px;
    margin: 0 auto;
    display: block;
}
.acf-advanced_relationship .list .acf-rel-item .thumbnail.-icon {
    background: #fff;
}
.acf-advanced_relationship .list .acf-rel-item .thumbnail.-icon img {
    max-height: 20px;
    margin-top: 1px;
}
.acf-advanced_relationship .list .acf-rel-item:hover {
    background: #3875D7;
    color: #fff;
}
.acf-advanced_relationship .list .acf-rel-item:hover .thumbnail {
    background: #a2bfec;
}
.acf-advanced_relationship .list .acf-rel-item:hover .thumbnail.-icon {
    background: #fff;
}
.acf-advanced_relationship .list .acf-rel-item.disabled {
    opacity: 0.5;
}
.acf-advanced_relationship .list .acf-rel-item.disabled:hover {
    background: transparent;
    color: #333;
    cursor: default;
}
.acf-advanced_relationship .list .acf-rel-item.disabled:hover .thumbnail {
    background: #e0e0e0;
}
.acf-advanced_relationship .list .acf-rel-item.disabled:hover .thumbnail.-icon {
    background: #fff;
}
.acf-advanced_relationship .list ul {
    padding-bottom: 5px;
}
.acf-advanced_relationship .list ul .acf-rel-label,
.acf-advanced_relationship .list ul .acf-rel-item,
.acf-advanced_relationship .list ul p {
    padding-left: 20px;
}
.acf-advanced_relationship .selection {
    border: #DFDFDF solid 1px;
    position: relative;
    margin-top: -1px;
    /* choices */
    /* values */
}
.acf-advanced_relationship .selection:after {
    clear: both;
    content: "";
    display: table;
}
.acf-advanced_relationship .selection .values,
.acf-advanced_relationship .selection .choices {
    width: 50%;
    background: #fff;
    float: left;
}
.acf-advanced_relationship .selection .choices {
    background: #F9F9F9;
}
.acf-advanced_relationship .selection .choices .list {
    border-right: #DFDFDF solid 1px;
}
.acf-advanced_relationship .selection .values .acf-icon {
    position: absolute;
    top: 4px;
    right: 7px;
    display: none;
    /* rtl */
}
html[dir="rtl"] .acf-advanced_relationship .selection .values .acf-icon {
    right: auto;
    left: 7px;
}
.acf-advanced_relationship .selection .values .acf-rel-item:hover .acf-icon {
    display: block;
}
.acf-advanced_relationship .selection .values .acf-rel-item {
    cursor: move;
}
.acf-advanced_relationship .selection .values .acf-rel-item b {
    text-decoration: none;
}
/* menu item fix */
.menu-item .acf-advanced_relationship ul {
    width: auto;
}
.menu-item .acf-advanced_relationship li {
    display: block;
}